include ../mixins/sub-menu.pug
header.header 
    .container 
        .row.align-items-center
         .col-2
           .inner-logo 
             a(href="/")
               img(src=settingGeneral.logo, alt="Logo" width="150px")


         .col-3
            form(
              action = "/search"
              method = "GET"
            )
                div(class = "form-group d-flex mb-0")
                   input(
                     type = "text"
                     placeholder = "Nhập từ khóa ..."
                     class = "form-control"
                     name = "keyword"
                     value = keyword
                   )
                   button(
                    type = "submit"
                    class = "btn btn-primary"
                   ) Tìm

         .col-7
          .inner-menu
            ul
              li 
                a(href="/") Trang chủ
              li(class = "sub-menu")
                - const pathProduct = "/products"
                a(href="/products") Sản phẩm
                +sub-menu(viewProductCategory,pathProduct)
              li(class = "/cart")
                 a(href = "/cart") Giỏ hàng (#{miniCart ? miniCart.totalQuantity : "0"})
              if(user)
                //- li 
                //-   a(href = "/chart") Chat
                li 
                  a(href = "/users/friends") Bạn bè
                li 
                  a(href = "/user/logout") Đăng xuất 
                li 
                  a(href = "/rooms-chat") Phòng chat
                li 
                  a(href = "/user/info") #{user.fullName}
              else 
                li 
                  a(href = "/user/register") Đăng kí
                li 
                  a(href = "/user/login") Đăng nhập
              