minxin sort()
    div(sort class = "d-flex align-items-center justify-content-center")
        select(
            class="form-control"
            name = "sort"
            sort-select
        ) 
            option(value="postion-desc") Vị trí giảm dần 
            option(value="postion-asc") Vị trí tăng dần 
            option(value="price-asc") Giá tăng dần 
            option(value="price-desc") Giá giảm dần 
            option(value="title-asc") Tiêu đề A-Z 
            option(value="title-desc") Tiêu đề Z-A 
            
        button(
            class="btn btn-danger ml-2"
            sort-clear 
        ) Clear