extends ../../layouts/default
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug

block main
  .container.my-3
    include ../../partials/list-btn-users.pug

    .row
     .col-12
       +box-head("Danh sách người dùng")

    .row(data-users-not-friend = user.id)
      each item in users
        .col-6(user-id = item.id)
            div(class = "box-user")
              div(class = "inner-avatar")
                img(src = item.avatar ? item.avatart : "https://png.pngtree.com/png-clipart/20190922/original/pngtree-business-male-user-avatar-vector-png-image_4774078.jpg" alt = "Minh Trí")
              
              div(class = "inner-info")
                div(class = "inner-name") #{item.fullName}
                div(class = "inner-button")
                  button(
                    class = "btn btn-sm btn-primary mr-1"
                    btn-add-friend = item.id
                  ) Kết bạn 
                  button(
                    class = "btn btn-sm btn-secondary mr-1"
                    btn-cancel-friend = item.id
                  ) Hủy
  block script 
     script( type="module" src="/js/users.js")

      
                    